.tglf_launch_aug22 {
    background-image:url('../../../cached_uploads/banner-images/home/tglf_launch_aug22-1920-f856c4.png');
}
@media (max-width: 1255px) {
    .tglf_launch_aug22 {
        background-image:url('../../../cached_uploads/banner-images/home/tglf_launch_aug22-1255-9d7ac0.png');
    }
}
 @media (max-width: 991px) {
    .tglf_launch_aug22 {
        background-image:url('../../../cached_uploads/banner-images/home/tglf_launch_aug22-991-6ef547.png');
    }
}
 @media (max-width: 767px) {
    .tglf_launch_aug22 {
        background-image:url('../../../cached_uploads/banner-images/home/tglf_launch_aug22-767-d52bad.png');
    }
}
 @media (max-width: 575px) {
    .tglf_launch_aug22 {
        background-image:url('../../../cached_uploads/banner-images/home/tglf_launch_aug22-575-660cea.png');
    }
}
 @media (max-width: 320px) {
    .tglf_launch_aug22 {
        background-image:url('../../../cached_uploads/banner-images/home/tglf_launch_aug22-320-273d13.png');
    }
}
 .tglf_launch_aug22-banner-container .timer {
    font-size: 16px;
    font-size: inherit;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
 .tglf_launch_aug22-banner-container .timer .icon {
    margin-right: 4px;
    font-size: inherit;
}
 .tglf_launch_aug22-banner-container .timer #banner_countdown_436 {
    color: #fff;
}
 .tglf_launch_aug22-banner-container .timer .timer_436 {
    color: #fff;
}
 .tglf_launch_aug22-banner-container .timer {
    position: absolute;
    left: 3.6%;
    top: 64%;
}
 @media (max-width: 1255px) {
    .tglf_launch_aug22-banner-container .timer {
        position: absolute;
        left: 2.7%;
        top: 55%;
    }
}
 @media (max-width: 991px) {
    .tglf_launch_aug22-banner-container .timer {
        position: absolute;
        left: 2.5%;
        top: 65%;
    }
}
 @media (max-width: 767px) {
    .tglf_launch_aug22-banner-container .timer {
        position: absolute;
        left: 3.1%;
        top: 63%;
    }
}
 @media (max-width: 575px) {
    .tglf_launch_aug22-banner-container .timer {
        position: absolute;
        left: 4.3%;
        top: 64%;
    }
}
 @media (max-width: 320px) {
    .tglf_launch_aug22-banner-container .timer {
        position: absolute;
        left: 12.3px;
        top: 67%;
    }
}
 .tglf_launch_aug22-banner-container .timer {
    font-size: 16px;
}
 .tglf_launch_aug22-banner-container .timer.icon {
    font-size: 16px;
}
 @media (max-width: 1255px) {
    .tglf_launch_aug22-banner-container .timer {
        font-size: 15px;
    }
     .tglf_launch_aug22-banner-container .timer.icon {
        font-size: 15px;
    }
}
 @media (max-width: 991px) {
    .tglf_launch_aug22-banner-container .timer {
        font-size: 13px;
    }
     .tglf_launch_aug22-banner-container .timer.icon {
        font-size: 13px;
    }
}
 @media (max-width: 767px) {
    .tglf_launch_aug22-banner-container .timer {
        font-size: 11px;
    }
     .tglf_launch_aug22-banner-container .timer.icon {
        font-size: 11px;
    }
}
 @media (max-width: 575px) {
    .tglf_launch_aug22-banner-container .timer {
        font-size: 10px;
    }
     .tglf_launch_aug22-banner-container .timer.icon {
        font-size: 10px;
    }
}
 @media (max-width: 320px) {
    .tglf_launch_aug22-banner-container .timer {
        font-size: 9px;
    }
     .tglf_launch_aug22-banner-container .timer.icon {
        font-size: 9px;
    }
}
.ac2 {
    background-image:url('../../../cached_uploads/banner-images/home/ac2-1920-f6475d.png');
}
@media (max-width: 1255px) {
    .ac2 {
        background-image:url('../../../cached_uploads/banner-images/home/ac2-1255-b4c293.png');
    }
}
 @media (max-width: 991px) {
    .ac2 {
        background-image:url('../../../cached_uploads/banner-images/home/ac2-991-91e274.png');
    }
}
 @media (max-width: 767px) {
    .ac2 {
        background-image:url('../../../cached_uploads/banner-images/home/ac2-767-0c52ac.png');
    }
}
 @media (max-width: 575px) {
    .ac2 {
        background-image:url('../../../cached_uploads/banner-images/home/ac2-575-3a3014.png');
    }
}
 @media (max-width: 320px) {
    .ac2 {
        background-image:url('../../../cached_uploads/banner-images/home/ac2-320-3c9813.png');
    }
}
 .ac2-banner-container .timer {
    font-size: 16px;
    font-size: inherit;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
 .ac2-banner-container .timer .icon {
    margin-right: 4px;
    font-size: inherit;
}
 .ac2-banner-container .timer #banner_countdown_440 {
    color: #000;
}
 .ac2-banner-container .timer .timer_440 {
    color: #000;
}
.isp31 {
    background-image:url('../../../cached_uploads/banner-images/home/isp31-1920-fcadd6.png');
}
@media (max-width: 1255px) {
    .isp31 {
        background-image:url('../../../cached_uploads/banner-images/home/isp31-1255-97a307.png');
    }
}
 @media (max-width: 991px) {
    .isp31 {
        background-image:url('../../../cached_uploads/banner-images/home/isp31-991-1bdeee.png');
    }
}
 @media (max-width: 767px) {
    .isp31 {
        background-image:url('../../../cached_uploads/banner-images/home/isp31-767-ad3f3f.png');
    }
}
 @media (max-width: 575px) {
    .isp31 {
        background-image:url('../../../cached_uploads/banner-images/home/isp31-575-963a88.png');
    }
}
 @media (max-width: 320px) {
    .isp31 {
        background-image:url('../../../cached_uploads/banner-images/home/isp31-320-c3fc5d.png');
    }
}
 .isp31-banner-container .timer {
    font-size: 16px;
    font-size: inherit;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
 .isp31-banner-container .timer .icon {
    margin-right: 4px;
    font-size: inherit;
}
 .isp31-banner-container .timer #banner_countdown_435 {
    color: #000;
}
 .isp31-banner-container .timer .timer_435 {
    color: #000;
}
.home_internships {
    background-image:url('../../../cached_uploads/banner-images/home/home_internships-1920.png');
}
@media (max-width: 575px) {
    .home_internships {
        background-image:url('../../../cached_uploads/banner-images/home/home_internships-575.png');
    }
}
 .home_internships-banner-container .primary_text {
    display: flex;
    align-items: center;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 700;
    color: #212121;
}
 .home_internships-banner-container .primary_text .offer {
    background: #ffae00;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 4px 16px;
    margin-left: 12px;
    position: relative;
    bottom: 2px;
}
 .home_internships-banner-container .secondary_text {
    font-size: 24px;
    line-height: 1.33;
    font-weight: 600;
    color: #666;
}
 .home_internships-banner-container .features_container {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #666;
}
 .home_internships-banner-container .features_container .feature {
    display: flex;
    align-items: center;
    color: #484848;
}
 .home_internships-banner-container .features_container .feature img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
 .home_internships-banner-container .features_container .feature + .feature {
    margin-top: 12px;
}
 .home_internships-banner-container .cta_container {
    margin-top: auto;
}
 .home_internships-banner-container .cta_container .link {
    text-decoration: none;
    color: #258a48;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}
 .home_internships-banner-container .cta_container .link:hover, .home_internships-banner-container .cta_container .link:focus {
    color: #258a48;
    text-decoration: none;
    outline: none;
}
 .home_internships-banner-container .cta_container .link.focus-visible {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
 .home_internships-banner-container .cta_container .link:not([href]) {
    color: #258a48;
}
 .home_internships-banner-container .cta_container .link:not([href]):hover, .home_internships-banner-container .cta_container .link:not([href]):focus {
    color: #258a48;
    text-decoration: none;
    outline: none;
}
 .home_internships-banner-container .cta_container .link:not([href]).focus-visible {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
 .home_internships-banner-container .cta_container .link [class^="ic-"], .home_internships-banner-container .cta_container .link [class*=" ic-"] {
    vertical-align: middle;
}
 @media (max-width: 991px) {
    .home_internships-banner-container .primary_text {
        font-size: 24px;
        line-height: 1.33;
        font-weight: 600;
    }
     .home_internships-banner-container .primary_text .offer {
        font-weight: 500;
        line-height: 1.2;
        font-size: 10px;
        padding: 2px 4px;
        margin-left: 8px;
    }
     .home_internships-banner-container .secondary_text {
        font-weight: 500;
        margin-top: 12px;
        font-size: 16px;
        line-height: 1.5;
        color: #484848;
    }
}
 @media (max-width: 575px) {
    .home_internships-banner-container .primary_text {
        font-size: 18px;
    }
     .home_internships-banner-container .secondary_text {
        font-weight: 400;
        font-size: 14px;
        margin-top: 4px;
    }
     .home_internships-banner-container .cta_container .link {
        font-size: 14px;
    }
}
.home_jobs_new {
    background-image:url('../../../cached_uploads/banner-images/home/home_jobs_new-1920-ba65ee.png');
}
@media (max-width: 575px) {
    .home_jobs_new {
        background-image:url('../../../cached_uploads/banner-images/home/home_jobs_new-575-947ef9.png');
    }
}
 @media (max-width: 320px) {
    .home_jobs_new {
        background-image:url('../../../cached_uploads/banner-images/home/home_jobs_new-320-44cf2f.png');
    }
}
 .home_jobs_new-banner-container .timer {
    font-size: 16px;
    font-size: inherit;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
 .home_jobs_new-banner-container .timer .icon {
    margin-right: 4px;
    font-size: inherit;
}
 .home_jobs_new-banner-container .timer #banner_countdown_412 {
    color: #000;
}
 .home_jobs_new-banner-container .timer .timer_412 {
    color: #000;
}
